.header {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0.5em 4em;
  z-index: 9;
  box-shadow: 0 0 10px 10px rgba(220, 220, 220, 0.25);
  display: flex;
  align-items: center;
}

.link {
  display: block;
}

.icon {
  font-size: 2em;
  display: block;
}

@media all and (max-width: 768px) {
  .header {
    padding: 0.5em 1em;
  }

  .icon {
    font-size: 1.5em;
  }
}
