.container {
  width: auto;
  padding: 1.25em;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 20px;

  font-family: 'Pretendard';
}

.title {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 1.25rem;
}

.img_container {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.img_container::after {
  content: '';
  display: block;
  padding-bottom: 60%;
}
