.container {
  width: 100%;
  height: 100vh;
  padding: 4em;
}

.title {
  font-size: 5em;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}

.img_container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px auto 0;
}

.img {
  width: 250px;
  position: relative;
}

.img::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.about_text {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Pretendard', sans-serif;
  word-break: keep-all;
}

.about_text span {
  display: block;
  font-size: 2em;
  font-weight: 800;
}

.more_about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2.5em;
}

.more_about > div {
  width: 39%;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
  font-family: 'Pretendard';
}

.more_about > div > h3 {
  font-size: 1.5em;
}

.more_about > div > p {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0.25em;
}

@media all and (max-width: 1280px) {
  .container {
    padding: 3em;
  }

  .title {
    font-size: 3em;
  }

  .img_container {
    justify-content: center;

    gap: 20px;
  }

  .about_text {
    font-size: 1.125em;
  }

  .more_about {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }

  .more_about > div {
    width: calc(50% - 5px);
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 1em;
  }

  .title {
    font-size: 2em;
  }

  .img_container {
    justify-content: flex-start;
    margin-top: 1em;
  }

  .img {
    display: none;
  }

  .about_text {
    font-size: 0.875em;
  }

  .about_text span {
    font-size: 1.25rem;
    letter-spacing: -0.025em;
    white-space: nowrap;
  }

  .more_about {
    flex-direction: column;
    gap: 6px;
    margin-top: 1.5em;
  }

  .more_about > div {
    width: 100%;
    padding: 0.5em 0.75em;
  }

  .more_about > div > h3 {
    font-size: 1em;
    font-weight: 800;
  }

  .more_about > div > p {
    font-size: 0.875em;
    font-weight: 500;
    margin-top: 0.25em;
  }
}
