.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  padding: 4em;
  position: relative;
}

.container > div > div {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 8em;
}

.justi_start {
  justify-content: flex-start;
}
.justi_center {
  justify-content: center;
}
.justi_end {
  justify-content: flex-end;
}

@media all and (max-width: 1180px) {
  .container {
    gap: 1em;
  }

  .container > div > div {
    font-size: 6em;
  }
}

@media all and (max-width: 918px) {
  .container {
    padding: 2em;
  }

  .container > div > div {
    font-size: 4em;
  }
}

@media all and (max-width: 585px) {
  .container {
    padding: 1em;
    gap: 2em;
  }

  .container > div > div {
    font-size: 3em;
    justify-content: flex-start !important;
  }
}
