.container {
  width: 100%;
  height: 100vh;
  padding: 4em;
}

.title {
  font-size: 5em;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
}

.project_container {
  margin-top: 40px;
}

.swiper_custom_container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.swiper_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 20px;
}

.swiper_navigation > button {
  display: block;
  background-color: transparent;
  border: none;
  line-height: 0;

  font-size: 2em;
  color: #000;
  cursor: pointer;
}

.swiper_navigation > button:disabled,
.swiper_navigation > button[disabled] {
  color: rgb(220, 220, 220);
}

@media all and (max-width: 1280px) {
  .container {
    padding: 3em;
  }

  .title {
    font-size: 3em;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2em;
  }

  .swiper_custom_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .swiper_custom_pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .swiper_navigation {
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 0 4em;
  }
}
